{% extends "index/base.html" %}

{% block title %}ZEDT - About Us{%endblock title %}

{% block content %}
    <div class="container-fluid mx-4 my-5">
        <p class="fw-bolder h3 mb-4">Our Mission</p>
        <p class="text-secondary">At <span class="fw-bolder">Zambia Eco Design Toolkit (ZEDT)</span>, we're solving the energy crisis from the ground up. We believe that sustainable design shouldn't be a luxury—it should be the default. Our platform empowers designers to see the invisible: thermal bridges, solar gains, and carbon footprints.</p>
        <p class="mb-4 text-secondary">By bringing industrial-grade simulation tools (like EnergyPlus) into an accessible web interface, we help you optimize buildings for regional climates before construction begins.</p>

        <hr/>
        <div class="align-items-center bg-light d-flex justify-content-center mt-4" style="flex-direction: column;">
            <p class="my-4 text-center w-50" style="font-size:larger; line-height:200%;"><i>"The most sustainable building is the one that is designed to work with nature, rather than against it. Our mission is to make that harmony measurable and attainable for every architect."</i></p>
            <p class="fw-bolder mb-4 text-warning"><i>— Zambia Eco Design Toolkit (ZEDT) Team</i></p>
        </div>

    </div>
{% endblock content %}